.header{
    background-color: burlywood;
     border: 2px solid black; 
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
   
 }

.headerleft{

  text-align: center;
text-decoration: underline;
color: white;
justify-content: center;

 }

.headerright{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:10px;

}

img{

    width: 350px;
    height: 300px;
}
 
  .bodycontent{
     border: 1px solid black; 
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    background-color: antiquewhite;
    text-align: center;
    padding:10px ;
   
  }

    h3{
        text-decoration: underline;
    }


    .card1{
       
        margin-top: 25px;
        padding: 35px;
        background-color: aliceblue;
    }

      .card2{
       
        margin-top: 25px; 
        padding: 35px;
        background-color: aliceblue;
      }
       .card3{
      
        margin-top: 25px; 
        padding: 35px;
        background-color: aliceblue;
        }

        .card4{
            
            margin-top: 25px; 
            padding: 35px;
            background-color: aliceblue;
        }

        .card5{
           
            margin-top: 25px; 
            padding: 35px;
            background-color: aliceblue;
        }

        .card6{
           
            margin-top: 25px;
            padding: 35px; 
            background-color: aliceblue;

        }

        .footer{

            border: 1px solid black;
            background-color: burlywood;
text-align: center;
            

        }
        
        

